*{
  background-color: black;
  opacity: 1;
}

h1 {
  font-family: Jazz LET, fantasy;
  font-variant: small-caps;
  font-style: oblique;
  font-size: 100px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.7;
}
